  <div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;margin-top:1rem">
        <img src="../images/beer.png" class="rounded mx-auto d-block" alt="..." width="50%" height="50%">
        <div class="card-body">
            <a href="/beers" class="btn btn-primary">Check the Beers!</a>
            <p></p>
            <a href="/random_beer" class="btn btn-primary">Check a Random Beer!</a>
        </div>
        </div>
    </div>
    <div class="col order-1">
      
    </div>
  </div>
</div>